/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 juin 2020, 22:04:43
    Author     : pc
*/

  body{
            background-image: url('BG.PNG');
            background-attachment:fixed;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .d{
            display: inline-table;
            display: inline-block;
            align-content: center;
            align-items: center;

        }
        .smallWidth{
            width: 125px;
        }
        .bigWidth{
            width: 300px;
        }
        .border_d{
            width: 850px;
            height: 50px;
            border: 1px solid;
            border-color: gainsboro;
            border-radius: 20px;
            padding: 5px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            align-items: center;
        }
        .marge{
            margin-top: 5px;
        }
        .noneLI li{
            list-style: none;
        }
        .noneLI{ 
            list-style: none;}
        .noneLI li span{
            margin-right: 40px;
              align-content: center;
        }
        .UL li {
            margin-left: 50px;
            margin-top: 8px;
            font-size:  medium;
        }
        .noneLI li span{
            margin-right: 40px;
            align-content: center;
        }
        .color1{
            color: cornflowerblue;
            font-size: xx-large;
        }
        .color2{
            color: white;
            font-size: x-large;
        }